[submodule "components/esp32-wifi-manager"]
	path = components/esp32-wifi-manager
	url = https://github.com/ruuvi/esp32-wifi-manager
[submodule "googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "tests/Posix_GCC_Simulator"]
	path = tests/posix_gcc_simulator
	url = https://github.com/ruuvi/Posix_GCC_Simulator.git
[submodule "components/ruuvi.boards.c"]
	path = components/ruuvi.boards.c
	url = https://github.com/ruuvi/ruuvi.boards.c.git
[submodule "components/ruuvi.comm_tester.c"]
	path = components/ruuvi.comm_tester.c
	url = https://github.com/ruuvi/ruuvi.comm_tester.c.git
[submodule "components/libSWD-esp32"]
	path = components/libSWD-esp32
	url = https://github.com/ruuvi/libSWD-esp32.git
[submodule "ESP32_mkfatfs"]
	path = ESP32_mkfatfs
	url = https://github.com/ruuvi/ESP32_mkfatfs.git
[submodule "ruuvi.gwui.html"]
	path = ruuvi.gwui.html
	url = https://github.com/ruuvi/ruuvi.gwui.html.git
[submodule "components/ruuvi.esp_wrappers.c"]
	path = components/ruuvi.esp_wrappers.c
	url = https://github.com/ruuvi/ruuvi.esp_wrappers.c.git
[submodule "tests/lwip/lwip"]
	path = tests/lwip/lwip
	url = https://github.com/ruuvi/lwip.git
