name: Test mbedtls

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '*' ]
    types: [opened, synchronize, reopened]

jobs:
  test-mbedtls:
    runs-on: ubuntu-22.04

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Run tests
        run: |
          cd components/mbedtls/mbedtls
          make test -j $(nproc)
